项目-网络音乐播放器/Connected Services/MusicService/server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfsong_view">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="song_view" nillable="true" type="tns:song_view" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsong_view" nillable="true" type="tns:ArrayOfsong_view" />
  <xs:complexType name="song_view">
    <xs:sequence>
      <xs:element minOccurs="0" name="album_image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="album_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="artist_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="file_length" type="xs:long" />
      <xs:element minOccurs="0" name="song_id" type="xs:int" />
      <xs:element minOccurs="0" name="song_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="song_view" nillable="true" type="tns:song_view" />
</xs:schema>