项目-网络音乐播放器/Connected Services/MusicService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/server" />
  <xs:element name="GetSongViews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongViewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="GetSongViewsResult" nillable="true" type="q1:ArrayOfsong_view" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Id" type="xs:int" />
  <xs:element name="DownFileResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileSize" type="xs:long" />
  <xs:element name="IsSuccess" type="xs:boolean" />
</xs:schema>